IMAGE2API_BASE=http://127.0.0.1:2000
IMAGE2API_ADMIN=admin
IMAGE2API_ADMIN_PW=change-me
PROVISION_BASE=http://127.0.0.1:18002
PROVISION_ADMIN_KEY=change-me
CONSOLE_SHIM_KEY=change-me
IMAGE_PUBLIC_BASE=https://tu.go2api.cc
CONSOLE_SHIM_TOKEN_FILE=/opt/image2api-g2a/.shim_token
